@model IEnumerable<GreenSeed.Models.Order>
@{
        ViewData["Title"] = "Minhas Encomendas";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID Encomenda</th>
            <th>Data Encomenda</th>
            <th>Valor Total</th>
            <th>Itens a Encomendar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.OrderDate.ToString("MM/dd/yyyy")</td>
                <td>@order.TotalAmount.ToString("C")</td>
                <td>
                    <ul>
                        @foreach (var item in order.OrderItems)
                        {
                            <li>@item.Product.Name - @item.Quantity x @item.Price.ToString("C")</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>